<!DOCTYPE html>
<html>
  <head>
    <title>DirectS3Example</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if logged_in? %>
      <%= link_to 'New Upload', new_user_upload_path(current_user) %>
      <%= link_to 'Uploads', user_uploads_path(current_user) %>

      <%= link_to "Sign Out", sessions_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }  %>
    <% else %>
      <%= link_to 'Sign UP', new_signup_path %>
      <%= link_to 'Sign In', login_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
